<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Hello Flask World</title>
</head>
<body>
    <div>
        <p>Hello, World!</p>
        <p>Please Fill the form below</p>

        <form method="post">
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="f-name" placeholder="First Name"><br><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="l-name" placeholder="Last name"><br><br>
            <input type="submit" value="Submit">
          </form> 
    </div>
</body>
</html>